body{
    font-family: 'Poppins', sans-serif;
}

.login-picture .image-portion {
    background-image: url(/static/media/Group30.41221497.png);
    min-height: 70vh;
    width: 354px;
    margin-left: 37px;
    margin-top: 34px;
}

.back-image-of-popup{
    background: url('../images/layer-1.png');
}